@font-face {
  font-family: 'bigPixel';
  src: url('../fonts/big_pixel_shadow_demo-webfont.woff2') format('woff2'),
       url('../fonts/big_pixel_shadow_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* TV Settings */
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color:white;
}
body{
  background: url(../img/bg.jpg);
  font-family: 'bigPixel';
  font-weight: normal;
  font-style: normal;
}
ul{
  list-style: none;
}
#main{
  width: 1100px;
  height: 728px;
  background: url(../img/tv.png) left no-repeat;
  background-size: 100%;
  display: block;
  position: relative;
  margin: auto;
}
#inner-tv{
  top: 64px;
  position: absolute;
  left: 61px;
  display: block;
  width: 762px;
  height: 550px;
  overflow: hidden;
}
#wides{
  opacity: 0;
}
#inner-tv{
  background-color: #333;
}
.fade-in-out{
  animation: fade-in 8s ease-in-out;
  position: absolute;
  opacity: 0;
}

 /* Menu Settings */

 .grave{
  animation: grave 2s;
  bottom:0px;
  left:0px;
  z-index: 1000;
  position: absolute;
 }
 .bye-grave{
  animation: bye-grave 2s;
  bottom:-520px;
  left:0px;
 }
 
 #main-menu{
   background: url(../img/main-menu.jpg) left top;
   width:763px;
   height:550px;
   display: none;
   z-index: 0;
   position: absolute;
}
#logo{
  animation: logo 2s;
  position: relative;
  left: 300px;
  top: 10px;
}
#hand{
  position: absolute;
    right: 0px;
    bottom: 0px;
    animation: hand 3s;
}
nav{
  margin-left: 100px;
}
nav ul li{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
nav ul li button{
  background: none;
  border: none;
  color:#fff;
  font-size: 2rem;
  font-family: 'bigPixel','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  overflow: hidden;
  opacity: 1;
  display: inline-flex;
}
nav ul li button img{
  display: inline-flex;
  margin-right: 20px;
  opacity: 1;
}
button,  button:hover{
  border: none;
  outline: 0;
  cursor: pointer; 
  opacity:.5;
}
.animateBtn{
  animation: menuBtn 3s infinite;
}
#blackOut{
  animation: blackOut .3s infinite;
  display: none;
  position: absolute;
  width:763px;
  height:550px;
  z-index: 1000;
  background-image: url(../img/noise.gif);
  background-color: transparent;
}
audio{
  display: none;
}
canvas{
  display: none;
}
#game-over{
  display: none;
  background: url(../img/gameOver.gif);
  width: 783px;
  height: 550px;
  position: absolute;
  z-index: 1000;
  animation: gameOver 3s ;
}
/* Credits */
#credits{
width: 831px;
height: 550px;
background: url(../img/credits.gif) left no-repeat;
display: block;
}
#credits{
  width: 831px;
  height: 550px;
  background: url(../img/credits.gif) left no-repeat;
  display: block;
  position: absolute;
  bottom: -520px;
  }
  #credits.grave{
    bottom: 0px;
    }
    #credits.bye-grave{
      bottom: -520px;
      }
  #credits div{
    position: absolute;
    right: 157px;
    top: 90px;
    width: 500px;
    }
    h2{
      margin-bottom: 20px;
      text-align: center;
      font-size: 2rem;
    }
    #credits ul li{
      margin-bottom: 20px;
      text-align: center;
    }
 /* Animations */
@keyframes fade-in {
  0% {
  opacity: 0;
  } 
  50% {
  opacity: 100;
  }
  100%{
    opacity: 0;
  }
 }
 @keyframes logo {
  0% {
   opacity: 0;
   top:-300px;
   left: -300px;
  }
  50% {
    opacity:.5;
  }
   100% {
    left: 300px;
    top: 10px;
  }
 }
 @keyframes menuBtn {
  0% {
  opacity:.3;
  }
  50% {
    opacity:1;
    }
    100%{
      opacity: .3;
    }
 }

 @keyframes hand {
  0% {
  right: 0px;
  bottom: -300px;
  }
  20% {
    bottom: -240px;
  }
  40% {
    bottom: -180px;
  }
  60% {
    bottom: -120px;
  }
  80% {
    bottom: -60px;
  }
  100% {
    right: 0px;
    bottom: 0px;
  }
 }

 @keyframes grave {
  0% {
  bottom: -520px;
  }
  20% {
    bottom: -4160px;
  }
  40% {
    bottom: -312px;
  }
  60% {
    bottom: -208px;
  }
  80% {
    bottom: -104px;
  }
  100% {
    left: 0px;
    bottom: 0px;
  }
 }

 @keyframes bye-grave {
  0% {
    bottom: 0px;
  }
  20% {
    bottom: -104px;
  }
  40% {
    bottom: -208px;
  }
  60% {
    bottom: -312px;
  }
  80% {
    bottom: -4160px;
  }
  100% {
    left: 0px;
    bottom: -520px;
  }
 }


 @keyframes blackOut {
  0% {
    background-image: url(../img/noise.gif);
    background-color: transparent;
    opacity:1;
  }
  50%{ 
    background-image: none;
    background-color: black;
    opacity: 1;
  }
  100% {
    background-image: url(../img/noise.gif);
    background-color: transparent;
    opacity: 0;
  }
 }

 @keyframes gameOver{
  0% {
   background: url(../img/gameOver.gif);
    background-color: transparent;
    opacity:0;
  }
  100% {
    background: url(../img/gameOver.gif);
    background-color: transparent;
    opacity: 1;
  }
 }